<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>THE GEM WHISPERER</title>
    <style type="text/css" media="screen">@import "/iui/iui.css";</style>
    <script type="application/x-javascript" src="/iui/iui.js"></script>
    <style type="text/css">
      body > ul > li {
        font-size: 13px;
        height: 25px;
      }
      body > ul > li > a {
        height: 25px;
        padding-left: 70px;
        padding-top: 13px;
      }
      li .date {
        font-weight: normal;
        color: #333;
        font-size: 10px;
      }
      li .info {
        color: #777;
        font-size: 10px;
      }
      li .count {
        display: block;
        position: absolute;
        margin: 0;
        text-align: center;
        font-size: 110%;
        letter-spacing: -0.07em;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        padding: 5px;
        background: #340505;
      }
      h2 {
        margin: 10px;
        color: slateblue;
      }
      p {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="toolbar">
      <h1 id="pageTitle" style="overflow-x:auto;"></h1>
      <a id="backButton" class="button" href="#"></a>
    </div>
    <ul title="The Gem Whisperer" selected="true">
      <% @whispers.each do |whisper| %>
        <li>
          <span class="count"><%= whisper.version %></span>
          <a target="_blank" title="<%= whisper.name %>" href="<%= whisper.url %>">
            <%= whisper.name %>
            <span class="date"><%= whisper.created_at.strftime("%d %b %H:%M") %></span>
            <span class="info"><%= whisper.info %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
